
<div class="modalPasarOtroServicio">
	 
   				<div th:replace="fragments/alertSucces :: alertSucces"></div>	
   
        
  				<div th:if="${msgsuccess == null}">
	   				<form th:action="@{/expedientesmovimientos/save}" method="post" id="formPasarOtroServicio">
		 
			   		 	
			   			 <div class="row">	
						     <div class="col-sm-6">
				                <div class="form-group">
					                <label for="InputNombre">Servicio</label>
					                
				              		<input type="text" class="form-control orga2" name="organigrama.nombre" id="orga2" placeholder="Servicio" required="required">
					                <input type="hidden" class="form-control" id="orga_id2" name="organigrama_id" required="required">
				              	
				              	</div>
				             </div>
				             <div class="col-sm-6">
							     <div class="form-group">
							       <label for="message-text" class="col-form-label">Descripcion:</label>
							       <textarea class="form-control" name="descripcion" id="descripcion"></textarea>
							     </div>
						   	 </div>
			             </div>
			             <div class="row">	
			             	
				     	</div>
				     	<div class="row">
				     		<div class="col-sm-6">
				     		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		     				<button type="submit" class="btn btn-primary">Guardar</button>
		     				</div>	
				     	</div>	
			 
		    
	   				</form>
   				</div> 
   				<div th:if="${msgsuccess != null}">
   					<a th:if="${codigo != null}" class="btn btn-primary" target="_blank" th:href="@{'/expedientesmovimientos/ver/'+${codigo}}">Imprimir Ultimo Movimiento</a>
   				</div> 
</div>   
<script type="text/javascript">

$(function(){

	$( "#orga2" ).autocomplete({
	  source: function( request, response ) {
	   // Fetch data
		   $.ajax({
		    url: "/organigramas/suggest-organigrama/"+request.term,
		    type: 'get',
		    dataType: "json",
		    data: {},
		    success: function( data ) {
		    	response($.map(data, function (item) {
                    return {
                        //Indicamos el Valor
                        value: item.nombre,
                        //el Label si lo desean
                       // label: item.Nombre,
                        //y el ID
                        id: item.id
                    }
                }))
		    }
		   });
	  },
	  select: function (event, ui) {
	   		// Set selection
		   $('#orga2').val(ui.item.value); // display the selected text
		   $('#orga_id2').val(ui.item.id); // save selected id to input
		   return false;
	  }

	}); 
}); 
	
 
   
   
   
$(document).on("submit", '#formPasarOtroServicio', function(){
	 
    if($('#orga_id2').val().length == 0){
    	alert('Debe seleccionar un servicio.')
    	return false;
    }
	var form = $(this);
	var url = form.attr('action');
	var str = $("#formPasarOtroServicio").serialize();
	var submit = form.find("button[type='submit']");
	
	 
	
    if($('#id').length > 0 || $("input[name='check_listado[]']").length > 0){ 
	   	if($('#id').length > 0){
	   		str += '&expediente_id='+$('#id').val();
	   	}else{
		
			if($("input[name='check_listado[]']").length > 0){
				if($("input[name='check_listado[]']:checked").length > 0){
					str += '&'+$("input[name='check_listado[]']").serialize()
				}else{
					alert("Debe seleccionar Expedientes.")
					return false;
				}
			}
		}
    }else{
    	alert("Nose puede determinar el Expediente");
		return false;
    }
    /*submit.replaceWith(getLoading());*/ 
    
	$.ajax({
        type:"post",
        data:str,
        url:url,
        
        success: function(data){
        	 
        	$('.modalPasarOtroServicio').replaceWith(data);
        },
        error : function(data) {
        	 
        	$('.modalPasarOtroServicio').replaceWith(data);
        	 
           }
    }); 
	 
	
	return false;
});

/*if (jqXHR.status === 0) {

alert('Not connect: Verify Network.');

} else if (jqXHR.status == 404) {

alert('Requested page not found [404]');

} else if (jqXHR.status == 500) {

alert('Internal Server Error [500].');

} else if (textStatus === 'parsererror') {

alert('Requested JSON parse failed.');

} else if (textStatus === 'timeout') {

alert('Time out error.');

} else if (textStatus === 'abort') {

alert('Ajax request aborted.');

} else {

alert('Uncaught Error: ' + jqXHR.responseText);

}*/

</script>
   