<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}">
 
<body>
<div layout:fragment="content">

	<div th:replace="producto/nav-producto :: nav-producto"></div>	
		
	<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	   
		    <!-- Content Header (Page header) -->
		    <div class="content-header">
		      <div class="container-fluid"><div class="row mb-2"><div class="col-sm-12"></div></div></div> 
		    </div>
		    <!-- /.content-header -->
		
		    <!-- Main content -->
		    <section class="content">
		      <div class="container-fluid">
				<!-- Main row -->
		        <div class="row">
		          <div class="col-12">
					<div class="card">
		             	<div class="card-body">
		             	
		             	 <form th:action="@{/productos/index}" method="get">
			             	 <div class="row">
			             	 	<div class="col-sm-2">
			                      <div class="form-group">
				                    <label for="InputNombre">Nombre</label>
				                    <input type="text" class="form-control" th:value=${nombre} name="nombre" id="nombre" placeholder="Nombre">
				                  </div>
			                    </div>
			                    <!-- <div class="col-sm-2">
			                      <div class="form-group">
				                    <label for="InputNombre">Cuit</label>
				                    <input type="text" class="form-control" th:value=${cuit} name="cuit" id="nombre" placeholder="Cuit">
				                  </div>
			                    </div> -->
			                    <div class="col-sm-2">
			                    	<div class="form-group">
			                    		<label for="InputNombre">&nbsp;</label>
				                    	<button type="submit" class="btn btn-block btn-primary"><i class="fas fa-search"></i> Buscar</button>
				                  	</div>
			                    </div> 
			                    <div class="col-sm-2">
			                    	<div class="form-group">
			                    		<label for="InputNombre">&nbsp;</label>
				                    	<a th:href="@{/productos/index}" class="btn btn-block btn-default" role="button" title="Limpiar">Limpiar</a>
				                  </div>
			                    </div>
			             	 </div>		
		             	 </form>  	
						 
						              	 		
		                 <div class="row">
		                 <table id="example1" class="table table-striped table-bordered dataTable">
		                    <thead>
		                    <tr>
		                      <th width="50">#</th>	
		                      <th>ID</th>
		                      <th>Nombre</th>
		                      <th>Rubro</th> 
		                      <th width="70"></th>
		                    </tr>
		                    </thead>
		                    <tbody>
			                    <tr th:each="producto : ${productos}" class="pointer" th:href="@{/productos/show/{id} (id=${producto.id})}">
			                      <td></td>
			                      <td th:text="${producto.id}"></td>
			                      <td th:text="${producto.nombre}"></td>
			                      <td th:text="${producto.rubro != null}?${producto.rubro.nombre} : ''"></td>
			                       
			                      <td>
			                      	<a th:href="@{/productos/delete/{id} (id=${producto.id}) }" 
			                      		onclick="return confirm('¿Estas seguro?')" 
			                      		class="btn btn-danger btn-sm" role="button" title="Eliminar">
			                      		<i class="fas fa-trash" aria-hidden="true"></i>
			                      	</a>
			                      	 
			                      	<a th:href="@{/productos/edit/{id} (id=${producto.id}) }" 
			                      		class="btn btn-success btn-sm" 
			                      		role="button" title="Editar el registro.">
			                      		<i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
			                      </td>
			                    </tr>
		                    </tbody>
		                  </table>
		                   
		                </div><!-- Main row -->
		                  
		                 
		                  
	                    <div th:replace="fragments/paginator-nav :: paginator"></div> 
		              </div><!-- /.card-body -->
		            </div><!-- /.card -->
		          </div><!-- /.col-12 -->
				</div><!-- Main row -->
		        
		        
		        <!-- /.row -->
    		</div><!--/. container-fluid -->
		    </section>
		    <!-- /.content -->
	  </div>
	  <!-- /.content-wrapper -->
    
</div>
 
</body>
</html>