<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}">
 
<body>
<div layout:fragment="content">

	<div th:replace="fragments/nav :: nav"></div>	
		
	<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	   
		    <!-- Content Header (Page header) -->
		    <div class="content-header">
		      <div class="container-fluid"><div class="row mb-2"><div class="col-sm-12"></div></div></div> 
		    </div>
		    <!-- /.content-header -->
		
		    <!-- Main content -->
		    <section class="content">
		      <div class="container-fluid">
				<!-- Main row -->
		        <div class="row">
		      
				</div><!-- Main row -->
		    </div><!--/. container-fluid -->
		    </section>
		    <!-- /.content -->
	  </div>
	  <!-- /.content-wrapper -->
    
</div>
 
</body>
</html>