<div th:fragment="nav-expediente">
	  
	  <!-- Navbar -->
	  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
	    <!-- Left navbar links -->
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
	      </li>
	      <li class="nav-item"> 
	      	<a class="nav-link" data-widget="pushmenu" href="#">
	      		EXPEDIENTES
	      	</a> 
	      </li> 
	       
	    </ul>
	    <ul class="navbar-nav ml-auto" th:if=${disabled}>
	    	
	    	
		     
	    	<li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" id="reportePaseExpediente" href="#" 
			      									data-title="Pasar a otro Servicio"
			      									data-url="/expedientes/modalPasarOtroServicio">Pasar a Otro Servicio</a>
			      			   
			      <a class="dropdown-item" id="cancelarPaseExpediente" 
			      						   href="#"   
			      						   data-url="/expedientesmovimientos/cancelar">Cancelar Pase</a>
			      <a class="dropdown-item" id="asignarAMiServicioExpediente" 
			      						   href="#"   
			      						   data-url="/expedientesmovimientos/asignaramiservicio">Asignar a mi Servicio</a> 
			     
			    </div>
		  	</li>
		    
		    
		   <li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
			    <div class="dropdown-menu">
			       <a th:if="${expediente != null}" class="dropdown-item" target="_blank" th:href="@{'/expedientesmovimientos/ver/'+${expediente.id}}">Imprimir Ultimo Movimiento</a>
			    </div>
		  	</li>
		  	<li class="nav-item d-none d-sm-inline-block">
	      		<a class="nav-link" th:href="@{/expedientes/create}" title="Crear nuevo usuario" role="button">Nuevo Expediente <i class="fas fa-book" aria-hidden="true"></i></a>  
		    </li>
	    </ul>
	  </nav>
	  <!-- /.navbar HEADERRRRRRRRRRRRRRRRRRRRRRRRRR -->
	
	  <!-- Main Sidebar Container -->
	  <aside class="main-sidebar sidebar-dark-primary elevation-4">
	    <!-- Brand Logo -->
	    <a href="index3.html" class="brand-link">
	      <img th:src="@{/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
	           style="opacity: .8">
	      <span class="brand-text font-weight-light">BS</span>
	    </a>
	
	    <!-- Sidebar -->
	    <div class="sidebar">
	      <!-- Sidebar user panel (optional) -->
	      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
	        <div class="image">
	          <img th:src="@{/img/avatar04.png}" class="img-circle elevation-2" alt="User Image">
	        </div>
	        <div sec:authorize="isAuthenticated()">
	        	<div class="info">
	          	
	        		<a href="#" class="d-block" sec:authentication="name"></a>
	        		
      			</div>	
      			<div class="info">
      				<form id="logoutForm" th:action="@{/logout}" method="post">
	        			<a href="#" onclick="document.getElementById('logoutForm').submit();" class="d-block"><i class="fas fa-sign-out-alt"></i></a>
					</form>
				</div>	
	        </div>
	      </div>
	
	      <!-- Sidebar Menu -->
	      <nav class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
	          <!-- Add icons to the links using the .nav-icon class
	               with font-awesome or any other icon font library -->
	          <li class="nav-item has-treeview menu-open">
	            <a href="#" class="nav-link active">
	              <i class="nav-icon fas fa-tree"></i>
	              <p>
	                Administracion
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a href="/usuarios/index" class="nav-link active">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Usuarios</p>
	                </a>
	              </li>
	              <li class="nav-item">
	                <a href="" class="nav-link ">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Permisos</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	          <li class="nav-item has-treeview menu-open">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-book"></i>
	              <p>
	                Expedientes
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	            <ul class="nav nav-treeview">
	              <li class="nav-item">
	                <a href="/expedientes/index" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Expedientes</p>
	                </a>
	              </li>
	            </ul>
	          </li>
	          
	        </ul>
	      </nav>
	      <!-- /.sidebar-menu -->
	    </div>
	    <!-- /.sidebar -->
	  </aside>  <!-- 	r -->
</div>	
	 
	
	  
	
	  